@import './themes/one.scss';

// $oscuro:#39382e;
// $amarillo:#f0b90b;
// $amarillo-hover:#ddae13;
$iphone-x:"only screen and (max-width : 812px)";
$parrafo:'Montserrat', sans-serif;

body {
  overflow-x: hidden;
  margin: 0;
}
.main-absolute {
  position: absolute;
}
.main-fixed {
  position: fixed;
}
.main-fixed-1 {
  position: fixed;
  bottom: 0;
}
.main-texto-puntos {
  white-space:nowrap;
  overflow: hidden;
}

/* IMG */
.main-img-circle {
  width:100%;
  height:100%;
  border-radius:50%;
}


/*  DISPLAY */
.main-none {
  display: none;
}

.main-g {
  display:grid;
}

/*   BORDES   */
.main-b-1 {
  border:1px solid $color-7;
}
.main-b-2 {
  border-right: 1px #d4cbcb solid;
}

.main-d-n {
  text-decoration: none;
}

/*   BOTONES   */
.main-btn-1 {
  color:$color-3;
  border:none;
  background:$color-1;
  border-radius:6px;
  font-weight: 700;
  &:hover {
    cursor:pointer;
    background:#ddae13;
  }
}

.main-btn-2 {
  background: none;
  border: none;
  &:focus {
    outline:none;
  }
  &:hover {
    cursor: pointer;
    outline: none;
  }
}
.main-end {
  text-align:end;
}
.main-center {
  text-align:center;
}
/* GRID */
.main-gg-70 {
  display: grid;
  grid-gap: 70%;
}
.main-gg-70p {
  display: grid;
  grid-gap: 70px;
}
.main-gg-1 {
  display: grid;
  grid-gap: 1px;
}
.main-gg-5 {
  display: grid;
  grid-gap: 5px;
}
.main-gg-10 {
  display: grid;
  grid-gap: 10px;
}
.main-gg-15 {
  display: grid;
  grid-gap: 15px;
}
.main-gg-20 {
 display:grid;
 grid-gap:20px;
}
.main-gg-30 {
 display:grid;
 grid-gap:30%;
}
.main-gg-30p {
 display:grid;
 grid-gap:30px;
}
.main-gg-40 {
 display:grid;
 grid-gap:40%;
}
.main-gg-40p {
 display:grid;
 grid-gap:40px;
}
.main-gg-50 {
 display:grid;
 grid-gap:50px;
}
.main-g-r-2 {
  grid-template-rows: repeat(2,1fr);
}
.main-g-r-3 {
  grid-template-rows: repeat(3,1fr);
}
.main-g-r-4 {
  grid-template-rows: repeat(4,1fr);
}
.main-g-r-20 {
  grid-template-rows: repeat(20,1fr);
}
.main-g-c-1 {
  display: grid;
  grid-template-columns: 1fr;
}
.main-g-c-2 {
  display:grid;
  grid-template-columns:repeat(2,1fr);
}
.main-g-c-3 {
  display:grid;
  grid-template-columns:repeat(3,1fr);
}
.main-g-c-4 {
  display:grid;
  grid-template-columns:repeat(4,1fr);
}
.main-g-c-5 {
  display:grid;
  grid-template-columns:repeat(5,1fr);
}
.main-g-c-6 {
  display:grid;
  grid-template-columns:repeat(6,1fr);
}

.main-g-c-7 {
  display:grid;
  grid-template-columns:repeat(7,1fr);
}
.main-g-c-8 {
  display:grid;
  grid-template-columns:repeat(8,1fr);
}
.main-g-c-9 {
  display:grid;
  grid-template-columns:repeat(9,1fr);
}
.main-g-c-10 {
  display:grid;
  grid-template-columns:repeat(10,1fr);
}
.main-g-c-11 {
  display:grid;
  grid-template-columns:repeat(11,1fr);
}
.main-g-c-12 {
  display:grid;
  grid-template-columns:repeat(12,1fr);
}
.main-g-c-13 {
  display:grid;
  grid-template-columns:repeat(13,1fr);
}
.main-g-c-14 {
  display:grid;
  grid-template-columns:repeat(14,1fr);
}
.main-g-c-15 {
  display:grid;
  grid-template-columns:repeat(15,1fr);
}
.main-g-c-16 {
  display:grid;
  grid-template-columns:repeat(16,1fr);
}
.main-g-c-17 {
  display:grid;
  grid-template-columns:repeat(17,1fr);
}
.main-g-c-18 {
  display:grid;
  grid-template-columns:repeat(18,1fr);
}
.main-g-c-19 {
  display:grid;
  grid-template-columns:repeat(19,1fr);
}
.main-g-c-20 {
  display:grid;
  grid-template-columns:repeat(20,1fr);
}
.main-g-center {
  justify-self:center;
  align-self:center;
}
.main-g-left-center {
  justify-self:left;
  align-self:center;
}
.main-g-right-center {
  justify-self:right;
  align-self:center;
}
.main-g-center-top {
  justify-self:center;
  align-self:start;
}
.main-gc-1-2 {
  grid-column:1/2;
} 
.main-gc-1-3 {
  grid-column:1/3;
}
.main-gc-1-4 {
  grid-column:1/4;
}
.main-gc-1-5 {
  grid-column:1/5;
}
.main-gc-1-6 {
  grid-column:1/6;
}
.main-gc-1-7 {
  grid-column:1/7;
}
.main-gc-1-8 {
  grid-column:1/8;
}
.main-gc-1-9 {
  grid-column:1/9;
}
.main-gc-1-10 {
  grid-column:1/10;
}
.main-gc-2-1 {
  grid-column:2/-1;
}
.main-gc-2-2 {
  grid-column:2/2;
}
.main-gc-2-3 {
  grid-column:2/3;
}
.main-gc-2-4 {
  grid-column:2/4;
}
.main-gc-2-5 {
  grid-column:2/5;
}
.main-gc-2-6 {
  grid-column:2/6;
}
.main-gc-3-1 {
  grid-column:3/-1;
}
.main-gc-3-4 {
  grid-column:3/4;
}
.main-gc-3-6 {
  grid-column:3/6;
}
.main-gc-4-6 {
  grid-column:4/6;
}
.main-gc-6-1 {
  grid-column:6/-1;
}
.main-gc-7-1 {
  grid-column:7/-1;
}
.main-gc-8-1 {
  grid-column:8/-1;
}
.main-gc-9-1 {
  grid-column:9/-1;
}

.main-gr-10-11 {
  grid-row: 10/11;
}


/* COLORES */

.main-back-white {
  background: white;
}
.main-back-black {
  background: black;
}

/* FONT */
.main-fw-b {
  font-weight: bold;
}
.main-fs-10 {
  font-size:10%;
}
.main-fs-20 {
  font-size:20%;
}
.main-fs-30 {
  font-size:30%;
}
.main-fs-40 {
  font-size:40%;
}
.main-fs-50 {
  font-size:50%;
}
.main-fs-60 {
  font-size:60%;
}
.main-fs-70 {
  font-size:70%;
}
.main-fs-80 {
  font-size:80%;
}
.main-fs-85 {
  font-size:85%;
}
.main-fs-90 {
  font-size:90%;
}
.main-fs-100 {
  font-size:100%;
}
.main-fs-130 {
  font-size:130%;
}
.main-fs-150 {
  font-size:150%;
}
.main-fs-200 {
  font-size:200%;
}
.main-fs-300 {
  font-size:300%;
}


/*    MARGEN     */
.main-m-1 {
  margin:1%;
}
.main-mb-2 {
  margin-bottom: 2%;
}
.main-mb-3 {
  margin-bottom: 3%;
}
.main-mb-5 {
  margin-bottom: 5%;
}
.main-mb-10 {
  margin-bottom:10%;
}
.main-mb-20 {
  margin-bottom:20%;
}
.main-mb-30 {
  margin-bottom:30%;
}
.main-mb-40 {
  margin-bottom:40%;
}
.main-mb-50 {
  margin-bottom:50%;
}
.main-mt-5 {
  margin-top:5%;
}
.main-mt-10 {
  margin-top:10%;
}
.main-mt-20 {
  margin-top:20%;
}
.main-mt-30 {
  margin-top:30%;
}
.main-mt-40 {
  margin-top:40%;
}
.main-mt-50 {
  margin-top:50%;
}
.main-mt-15p {
  margin-top:15px;
}
.main-mt-20p {
  margin-top:20px;
}
.main-mt-30p {
  margin-top:30px;
}
.main-mt-40p {
  margin-top:40px;
}
.main-mt-50p {
  margin-top:50px;
}
.main-ml-15p {
  margin-left: 15px;
}
.main-mb-15p {
  margin-bottom: 15px;
}

/*    PADDING   */
.main-pl-10 {
  padding-left: 10%;
}
.main-pr-10 {
  padding-right: 10%;
}
.main-pl-25 {
  padding-left: 25%;
}
.main-pr-25 {
  padding-right: 25%;
}
.main-p-1 {
  padding:1%;
}
.main-p-2 {
  padding:2%;
}
.main-p-3 {
  padding:4%;
}
.main-p-4 {
  padding:4%;
}
.main-p-5 {
  padding:5%;
}
.main-p-5p {
  padding:5px;
}
.main-p-10p {
  padding:10px;
}
.main-p-15p {
  padding: 15px;
}
.main-p-20p {
  padding: 20px;
}
.main-p-30p {
  padding: 30px;
}
.main-p-50p {
  padding: 50px;
}

/* INPUT */
.main-i-1 {
  border:1px black dotted;
  background: none;
  border-bottom-left-radius:8px;
  border-top-left-radius:8px;
  text-align:center;
}
.main-i-2 {
  border:1px black solid;
  border-bottom-left-radius:8px;
  border-top-left-radius:8px;
}
.main-i-3 {
  border:1px black dotted;
  border-radius: 8px;
}
.main-i-4 {
  border:1px $color-4 solid;
  border-radius: 8px;
  padding-left: 2%;
  &:focus {
    outline:none;
    border:1px $color-1 solid;
  }
  &:hover {
    border:1px $color-1 solid;
  }
}
.main-i-5 {
  border:none;
  background: none;
  &:focus {
    outline:none;
  }
  &:hover {
    border:none;
  }
}

/*    TAMAÑO     */
.main-w-30p {
  width: 30px;
}
.main-w-40p {
  width: 40px;
}
.main-w-50p {
  width: 50px;
}
.main-w-60p {
  width: 60px;
}
.main-w-200p {
  width: 200px;
}
.main-w-220p {
  width: 220px;
}
.main-w-20 {
  width:20%;
}
.main-w-25 {
  width:25%;
}
.main-w-30 {
  width:30%;
}
.main-w-45 {
  width:45%;
}
.main-w-50 {
  width:50%;
}
.main-w-60 {
  width:60%;
}
.main-w-70 {
  width:70%;
}
.main-w-80 {
  width:80%;
}
.main-w-90 {
  width:90%;
}
.main-w-100 {
  width:100%;
}
.main-h-5p {
  height:5px;
}
.main-h-10p {
  height:10px;
}
.main-h-20p {
  height:20px;
}
.main-h-30p {
  height:30px;
}
.main-h-35p {
  height:35px;
}
.main-h-40p {
  height:40px;
}
.main-h-50p {
  height:50px;
}
.main-h-60p {
  height:60px;
}
.main-h-90p {
  height:90px;
}
.main-h-100p {
  height:100px;
}
.main-h-200p {
  height:200px;
}
.main-h-20 {
  height:20%;
}
.main-h-30 {
  height:30%;
}
.main-h-40 {
  height:40%;
}
.main-h-50 {
  height:50%;
}
.main-h-100 {
  height:100%;
}
/* °°°°°°°°°°° */


.main-br-8 {
  border-radius: 8px;
}

.main-overflow-hidden {
  overflow: hidden;
}

/*  RESPONSIVE   */
@media #{$iphone-x} {
/* FONT-SIZE */
  .media-fs-150 {
    font-size:150%;
  }
/* GRID */
  .media-g {
    display:grid;
  }
  .media-gg-30 {
    display: grid;
    grid-gap: 30%;
  }
  .media-g-c-1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .media-g-c-2 {
    display:grid;
    grid-template-columns:repeat(2,1fr);
  }
  .media-g-c-3 {
    display:grid;
    grid-template-columns:repeat(3,1fr);
  }
  .media-g-c-4 {
    display:grid;
    grid-template-columns:repeat(4,1fr);
  }
  .media-g-c-5 {
    display:grid;
    grid-template-columns:repeat(5,1fr);
  }
  .media-g-c-6 {
    display:grid;
    grid-template-columns:repeat(6,1fr);
  }
  .media-g-c-7 {
    display:grid;
    grid-template-columns:repeat(7,1fr);
  }
  .media-g-c-8 {
    display:grid;
    grid-template-columns:repeat(8,1fr);
  }
  .media-g-c-9 {
    display:grid;
    grid-template-columns:repeat(9,1fr);
  }
  .media-g-c-10 {
    display:grid;
    grid-template-columns:repeat(10,1fr);
  }
  .media-gc-1-1 {
    grid-column: 1/-1;
  }
  .media-gc-2-4 {
    grid-column: 2/4;
  }
  .media-gc-2-5 {
    grid-column: 2/5;
  }
  .media-gc-2-6 {
    grid-column: 2/6;
  }
  .media-gc-2-7 {
    grid-column: 2/7;
  }
  .media-gc-3-7 {
    grid-column: 3/7;
  }
  .media-gc-4-7 {
    grid-column: 4/7;
  }
  .media-gc-5-7 {
    grid-column: 5/7;
  }
  .media-gc-6-7 {
    grid-column: 6/7;
  }
  .media-ancho-90 {
    width:90%;
  }
  .media-ancho-100 {
    width:100%;
  }
  .media-none {
    display: none;
  }
/* MARGIN TOP */
  .media-mt-10 {
    margin-top:10%;
  }
  .media-mt-20 {
    margin-top:20%;
  }
  .media-mt-30 {
    margin-top:30%;
  }
  .media-mt-40 {
    margin-top:40%;
  }
  .media-mt-50 {
    margin-top:50%;
  }
  .media-mt-60 {
    margin-top:60%;
  }
  .media-mt-70 {
    margin-top:70%;
  }
  .media-mt-80 {
    margin-top:80%;
  }
  .media-mt-90 {
    margin-top:90%;
  }
  .media-mt-100 {
    margin-top:100%;
  }
  .media-mt-120 {
    margin-top:120%;
  }
/* MARGIN BOTTOM */
  .media-mb-10 {
    margin-bottom:10%;
  }
  .media-mb-20 {
    margin-bottom:20%;
  }
  .media-mb-30 {
    margin-bottom:30%;
  }
  .media-mb-40 {
    margin-bottom:40%;
  }
  .media-mb-50 {
    margin-bottom:50%;
  }
  .media-mb-60 {
    margin-bottom:60%;
  }
  .media-mb-70 {
    margin-bottom:70%;
  }
  .media-mb-80 {
    margin-bottom:80%;
  }
  .media-mb-90 {
    margin-bottom:90%;
  }
  .media-mb-100 {
    margin-bottom:100%;
  }

  /* PADDING */
  .media-pl-40p {
    padding-left: 40px;
  }
  .media-pr-40p {
    padding-right: 40px;
  }
}


