.main-column-1 {
  position:fixed;
  min-height: 100vh;
  max-height: 100vh;
}

$color-1:#f0b90b;
$color-2:#0b0e11;
$color-3:#39382e;
$color-4:rgba(0,0,0,.87);
$color-5:rgb(100, 100, 100);
$color-6:#d4cbcb;
$color-7:rgba(0, 0, 0, 0.300);
$color-8:#808080;
$color-9:white;
$color-10:black;

.fs-input-pass {
  letter-spacing: 4px;
  font-size: 29px;
  font-family: sans-serif;
}

/*
  COPIAR Y PEGAR EN index.html
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Blinker|Domine&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rasa&display=swap" rel="stylesheet">
*/
  /* INPUT */
.main-i-1 {
  border:1px black dotted;
  background: none;
  border-bottom-left-radius:8px;
  border-top-left-radius:8px;
  text-align:center;
}
.main-i-2 {
  border:1px black solid;
  border-bottom-left-radius:8px;
  border-top-left-radius:8px;
}
.main-i-3 {
  border:1px black dotted;
  border-radius: 8px;
}
.main-i-4 {
  border:1px $color-4 solid;
  border-radius: 8px;
  padding-left: 2%;
  &:focus {
    outline:none;
    border:1px $color-1 solid;
  }
  &:hover {
    border:1px $color-1 solid;
  }
}
.main-i-5 {
  border:none;
  background: none;
  &:focus {
    outline:none;
  }
  &:hover {
    border:none;
  }
}
/* FUENTES */
/*   BOTONES   */
.main-btn-1 {
  color:$color-3;
  border:none;
  background:$color-1;
  border-radius:6px;
  font-weight: 700;
  &:hover {
    cursor:pointer;
    background:#ddae13;
  }
}

.main-btn-2 {
  background: none;
  border: none;
  &:focus {
    outline:none;
  }
  &:hover {
    cursor: pointer;
    outline: none;
  }
}
.main-ff-1 {
  font-family: 'Roboto Slab', serif;
}
.main-ff-2 {
  font-family: 'Domine', serif;
}
.main-ff-3 {
  font-family: 'Blinker', sans-serif;
}
.main-ff-4 {
  font-family: 'Fjalla One', sans-serif;
}
.main-ff-5 {
  font-family: "Maven Pro",Helvetica,Arial,sans-serif;
} 
.main-ff-6 {
  font-family: 'Montserrat', sans-serif;
}
.main-ff-7 {
  font-family: 'Russo One', sans-serif;
} 
/* COLORES */
.main-c1 {
  color:$color-1;
}
.main-c2 {
  color:$color-2;
}
.main-c3 {
  color:$color-3;
}
.main-c4 {
  color:$color-4;
}
.main-c5 {
  color:$color-5;
}
.main-c6 {
  color:$color-6;
}
.main-c7 {
  color:$color-7;
}
.main-c8 {
  color:$color-8;
}
.main-c9 {
  color:white;
}
.main-c10 {
 color:black;
}
.main-back-1 {
  background-color:#f0b90b;
}
.main-hover-1:hover {
  background: #f7c934;
}
.main-back-2 {
  background-color:#0b0e11;
}
.main-back-3 {
  background-color:#39382e;
}
.main-back-4 {
  background-color:rgba(0,0,0,.87);
}
.main-back-5 {
  background-color:#12161c;
}